
.board{
  .aa{
    background: #12EAEA;
    padding: 10px;
    color: white;
    border-radius: 8px;
    width: 220px;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .xoxo{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .bb12{
    width: 150px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: rgb(236, 236, 188);
    font-weight: 600;
  }
  .bb12:hover{
    cursor: pointer;
  }
  .twoplayer{

    .bb1{
      // background-color: greenyellow;
      border-radius: 6px;
      outline: none;
      border: 1px solid gray;
      width: 120px;
      height: 30px;
    
    }
    .acac{
      background: #12EAEA;
      color: white;
      border: none;
      outline: none;
    }
    background-color: whitesmoke;
    padding: 8px;
    display: flex;
    gap: 10px;

  }
  .board-row{
    display: flex;
    gap: 5px;
  }
  .option{
    display: flex;
    flex-direction: column;
    
  }

  .selectLevel{
    select{
      outline: none;
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 4px 47px 4px 0px ;
      margin: 5px 5px 5px 0;
      background: #12EAEA;
      color: white;
    }
      width: 250px;
  }
  select > option{
    width: 200px;
  }

}
