.square{
    width: 65px;
    height: 65px;
    background-color: rgb(236, 236, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    user-select: none;
    border-radius: 3px;
    font-weight: 600;
    // border: 1px gray solid;
}